{{ ansible_managed | comment }}
[gitlab-runner]
name=gitlab-runner
baseurl={{ _gitlab_runner_yum_repository }}
repo_gpgcheck=0
gpgcheck=1
enabled=1
{% for gpgkey in _gitlab_runner_yum_repository_gpgkeys %}
gpgkey={{ gpgkey }}
{% endfor %}
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300